

@media (max-width: 300px) {
    html {
        font-size: 70%;
    }
}

@media (min-width: 500px) {
    html {
        font-size: 80%;
    }
}

@media (min-width: 700px) {
    html {
        font-size: 120%;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 200%;
    }
}




body{overflow: hidden; background-color: #000;}


/* 
    Created on : 14 Apr, 2015, 12:21:03 AM
    Author     : akshynathr
*/
.container-fluid{padding: 0px !important;background-color: #121212;}
#sidebar{background-color: #121212;padding:10px;padding-top:18px; padding-right: 0px; height:100% ; top:0; position: fixed; left: -185px; z-index: 300;width: 210px;}

#sidebar h4{ text-align: center;color: #fff; padding-right: 5px; font-family: 'Open Sans', sans-serif; font-size: 14px; padding: 6px;}

#sidebar a{ transition: color 0.5s ease;text-decoration: none; color: #D7DEDE;}

#sidebar a:hover{   color: #fff  ; }

#sidebar li{width:150px;  font-family: 'Playfair Display', serif;  padding-bottom: 2px; margin-right: 8px;padding-right: 40px;-webkit-transition: background-image 1s ease-in-out;
transition: background-image 1s ease-in-out; font-size: 20px;}

#sidebar li:hover{background-image: url(images/arrow.png); background-repeat: no-repeat;}

#preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 250;
	background: url(images/loader.GIF) center no-repeat #fff;}

#navbar { font-size: 0;background-color: rgba(255,255,255,.7); height: 40px; -webkit-transition: all .8s ease;transition:all .8s ease; background-image: url(images/stripes.png);;margin-top: 0px;  text-align: center;z-index: 350;}


#navbar ul{  }
#navbar ul li{ -webkit-transition: all .5s ease; transition: all .5s ease;  display:inline-block; padding: 10px; text-align: center;  width: 160px; height: 41px; background-color: #FBF9F9;  border-left: solid #CCCCCC 1px;}

#navbar li:hover{ border-top: 7px solid #73A1AD; font-weight:bold;}
#nav1{ border-top:7px solid #536351;}
#nav2{ border-top:7px solid #764851;}
#nav3{ border-top:7px solid #426784;}
#nav4{ border-top:7px solid #C7AF98;}

#navbar a{ font-size: 16px;text-decoration: none; color: #000; }

 


#workspace{ background-color: #fff; padding-left: 30px;margin-left: 10px;padding: 0px;overflow-y: hidden;overflow-x: hidden;}

#nav{ display: inline-block; padding: 2px; color: #fff; margin-top: 50px;font-size: 160%; text-align: right; float: right; list-style: none; }


#logo{margin-left:10px;}


#outer{    width:200px;overflow: hidden;}

#inner{  min-height: 100%; height:100%; overflow-y:scroll; overflow-x:hidden; background-color: blue; margin-right: -16px;}


#list{ overflow-x:hidden; overflow-y:scroll; height: 800px;width:200px;}

#la{ background-color: red;}

#space{ height: 10%;}

//Hide scrollbars

#element::-webkit-scrollbar { 
    display: none; 
}

h5{ width: 100px; margin: 0px;}

#icons { display: inline-block; text-decoration: none;}

#icons li{ width: 50px; display: inline-block;}
#icons li:hover{ background-image:  none; }

#cal_icon{ height: 40px; width: 40px; margin: 0px;background-image: url(images/calendar.png); background-size: 40px 40px;padding:0; margin-right: 0px; }


#rightbar{ min-height: 100%;height: 700px; background-color: #121212;  float: right; }

#home{overflow:hidden;  height: 710px;padding: 0px; width:100% ; background-image: url(images/wie.jpg); background-repeat: no-repeat; background-size: cover;}
#ras{overflow:hidden;  height: 710px;padding: 0px; width:100% ; background-image: url(images/ras.jpg); background-repeat: no-repeat; background-size: cover;}
#kites{overflow:hidden;  height: 710px;padding: 0px; width:100% ; background-image: url(images/kites.jpg); background-repeat: no-repeat; background-size: cover;}

//WIE PAGE
#page{height: 90%;overflow: hidden;}
.page h1{ color: #fff; background-color: rgba(0,0,0,.5);-webkit-transition:all 2s ease; transition:all 2s ease;}
.page a{ color: #fff; text-decoration: none;}
.page h1 a{text-decoration: none; font-size: 14px; color: #66afe9;   -webkit-transition:all .6s ease; transition:all .6s ease;   }
.page h1:hover{color: #66afe9; }
.page h1 a:hover{color: #fff;}


//topbar
#top{ z-index: 330;}
#top ul{ list-style: none; float: right; font-size: 11px; font-family: serif;}
#top li{ display: inline-block; color: #000;padding: 5px; }